html {
box-sizing: border-box;
font-size: 62.5%;
font-family: sans-serif;
}

*, *:before, *:after {
box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
margin: 0;
padding: 0;
font-weight: normal;
}

body {
    width: 100%;
    height: 100vh;

    display: grid;
    place-content: center;
}

.title {
    font-size: 3.2rem;
    font-weight: bold;
    text-align: center;

    margin-bottom: .5em;
}

.results {
    font-size: 1.8rem;
    text-align: center;

    margin-bottom: 2em;
}

.restart {
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: bold;
    color: #fff;

    border: none;
    background-color: #ff4949;

    width: 10em;
    height: 2.5em;
    padding: .5em;

    margin: auto;
    position: absolute;
    left: 0; 
    right: 0;
    bottom: 5em;

    display: inline;
}

.display {
    display: none;
}

.gameboard {
    width: 50em;
    height: 50em;

    background-color: black;
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: .5em;
}

.square {
    font-size: 10em;
    font-weight: bold;

    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}